

@keyframes icc{
    0%{filter: hue-rotate(1deg);transform:translateX(100px)}
    50%{filter: hue-rotate(360deg);transform: translateY(200px);}
    100%{filter: hue-rotate(1deg);transform:translateX(150px)}
}


.image-color-change{
    width: 50vh;
    height: 50vw;
    background: url('../Images/linkedin.png') center ;
    background-size: cover;
    animation: icc 10s;
    animation-iteration-count: infinite;
    
}




